<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>Day</th>
            <th>Start Time</th>
            <th>Course Name</th>
            <th>Length</th>
            <th>Type</th>
        </tr>
        <%
            for (var i=0; i<theSchedule.length; i++) {
        %>
            <!-- Loop Body Goes Here -->
            <tr>
                <td><%= theSchedule[i].day  %></td>
                <td><%= theSchedule[i].name %></td>
                <td><%= theSchedule[i].start %></td>
                <td><%= theSchedule[i].length %></td>
            </tr>   
        <% } %>
    </table>
</body>
</html>